*{
	margin:0;
	padding:0;
}
html{
	font-size: calc(100vw / 1920);
	overflow-x: hidden;
}
.absolute{
	position: absolute;
}
.pointer{
	cursor: pointer;
}
.cover{
	background-size: cover;
}
.nowrap{
	white-space: nowrap;
}
.nowrap_sheng{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.flex_center{
	display: flex;
	align-items: center;
	justify-content:center;
}
.text_center{
	text-align: center;
}
.flex_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex_center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.font_bold{
	font-weight: bold;
}
a:link{
    text-decoration:none;
	color: black;
     /* 指正常的未被访问过的链接*/
}
a:visited{
    text-decoration:none;
	color: black;
     /*指已经访问过的链接*/
}
a:hover{
     text-decoration:none;
	 color: black;
     /*指鼠标在链接*/
}
a:active{
    text-decoration:none;
	color: black;
    /* 指正在点的链接*/
}
.layui-progress-bar{
	height: 2px !important;
}